body {
    background-color: #006dcc;
}

#bod {
    background-color: #ffffff;
}

.btn {
    cursor: pointer;
}

h1 {
    color: #006dcc;
    font-family: 'Fascinate Inline', cursive;
}

h3 {
    color: #006dcc;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

h4 {
    font-family: 'Oswald', sans-serif;
    color: #00000;
    letter-spacing: 2px;
}
